@import "tailwindcss";

:root {
  --color--light-blue: #3e70ee;
  --color--black: #222;
  --color--white: white;
  --color--dark-blue: #031749;
  --color--dark-grey: #8c8c8c;
  --color--medium-grey: #bababa;
  --color--light-grey: #f6f4f0;
  --color--green: #0bda84;
  --color--yellow: #ffd166;
  --color--light-green: #eaf6f2;

  --background: var(--color--white);
  --foreground: var(--color--black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);

  /* Custom colors */
  --color-light-blue: var(--color--light-blue);
  --color-black: var(--color--black);
  --color-white: var(--color--white);
  --color-dark-blue: var(--color--dark-blue);
  --color-dark-grey: var(--color--dark-grey);
  --color-medium-grey: var(--color--medium-grey);
  --color-light-grey: var(--color--light-grey);
  --color-green: var(--color--green);
  --color-yellow: var(--color--yellow);
  --color-light-green: var(--color--light-green);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
